body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #F4F4F4;
    padding: 1em;
}

#snippetBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 2em;
    background-color: #fff;
    margin-bottom: 2em;
    width: 100%;
    min-width: 300px;
    max-width: 800px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    justify-content: space-between;
}

#snippetName {
    text-align: center;
    width: 100%;
}

#snippetCode {
    box-sizing: border-box;
    margin-bottom: 1em;
    width: calc(100% - 2em);
    margin-left: 1em;
    margin-right: 1em;
    background-color: #eee;
    padding: 1em;
    border-radius: 5px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

h1 {
    margin-bottom: 1em;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f44336;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #d32f2f;
}

#saveButton {
    background-color: #01aa5b;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#toolBar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: flex-start;
    gap: 5px;
    margin-right: 10px;
    z-index: 1000;
    background-color: #454545;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#toolBar button {
    padding: 5px 10px;
    font-size: 0.9em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f44336;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#toolBar button:hover {
    background-color: #d32f2f;
}

#copyButton i {
    font-size: 13px;
}

#editButton i {
    font-size: 15px;
}

#newAddUrlButton {
    background-color: #3f51b5;
    display: none;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    padding: 10px;
}

#newAddUrlButton i {
    font-size: 15px;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 12px;
    height: 12px;
    border: 1px solid #333;
    background-color: #ffffff;
    border-radius: 3px;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: #017483;
}

input[type="checkbox"]:checked::after {
    content: '\2713';
    color: #ffffff;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.material-icons.checkbox-icon {
    font-size: 16px;
}

[data-tooltip]:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 1000;
    margin-bottom: 5px;
}

/* light theme */
.light-theme {
    background-color: #f3f3f3;
    color: #333;
}

/* dark theme */
.dark-theme {
    background-color: #333;
    color: #f3f3f3;
}

.dark-theme #snippetName {
    color: #ffffff;
}

.dark-theme #snippetBox{
    background-color: #454545;
    border-color: black;
}

.dark-theme #snippetCode{
    color: black;
}